body{
	width: 100%;
	margin: 0;
}

*{
	box-sizing: border-box;
}

.header{
    padding: 30px;
	background: url("picture/background.jpg") no-repeat;
}
.nav_bar{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav_text{
	color: white;
	font-size: 30px;

}
.links{
	font-size: 20px;
    text-transform: uppercase;
}
.links a{
	color: white;
	font-family: 'Inconsolata';
	text-decoration: none;
	padding-right: 25px;
}
.links a:hover{
	color: yellow;
	text-decoration: underline;
}
.nav-toggle{
	display: none;
	width: 30px;
	padding: 10px 0;
	background: none;
	border: 0;
	cursor: pointer;
}
.nav-toggle_item{
	display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}
.header_text{
	padding-top: 5%;
	width: 100%;
	max-width: 880px;
	margin: auto;
	text-align: center;
	color: white;
	padding-bottom: 100px;
}
.header_text a{
	font-size: 25px;
}
.head_name{
	font-family: 'Kaushan Script';
	font-size: 75px;

}
.wellcome-text{
	font-family: 'Inconsolata';
	font-size: 150px;
}
.wellcome-text:after{
	content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: white;
}
.header_text a{
	font-family: 'Inconsolata';
	border: 1px solid white;
	padding: 10px 25px 10px 25px;
	color: white;
	text-decoration: none;
}
.header_text a:hover{
	color: yellow;
	text-decoration: underline;
	border: 2px solid yellow;
}
.head_bottom{
	width: 100%;
}
.head_items{
	display: flex;
	justify-content: space-around;
}
.head_item{
	position: relative;
	border-top: 3px solid #fff;
	width: 23%;
    padding: 20px 0;
	font-size: 24px;
	color: white;
}
.head_item.active:before{
	content: "";
    display: block;
    width: 30%;
    height: 2px;

    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
}

.main{
	width: 100%;
	padding-top: 50px;
}
.part{
	margin-top: 50px;
	text-align: center;
}
.main_text1{
	font-family: 'Kaushan Script';
	font-size: 30px;
}
.main_text2{
	font-family: 'Inconsolata';
	font-size: 40px;
	font-weight: 700;
}
.main_text2:after{
	content: "";
	display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: red;
}
.part p{
	color: grey;
}


.chairs{
	display: flex;
	margin: 80px 0px 80px 0px;
	justify-content: center;
	flex-wrap: wrap;
}
.chairs_item {
    width: 300px;
    padding: 15px;
}

.chairs_inner {
    position: relative;
    background-color: rgb(118, 215, 196);
}

.chairs_inner:hover .chairs_img {
    transform: translate3d(-10px, -10px, 0);
}

.chairs_inner:hover .chairs_img img {
    opacity: 0.1;
}

.chairs_inner:hover .chairs_text {
    opacity: 1;
}

.chairs_img {
    background: linear-gradient(#f38181, #fce38a);

    transition: transform .23s linear;
}

.chairs_img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.chairs_text {
    width: 100%;

    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}


.some_info{
	background-color: rgb(118, 215, 196);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card{
	color: white;
	padding: 70px 40px;
	border: 1px solid rgb(163, 228, 215);
}
.number{
	font-size: 60px;
}
.num_text{
	font-size: 15px;
}
.line{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.piece{
	display: flex;
	width: 22%;
	margin: 30px;
}
.title{
	text-align: left;
}
.piece img{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.last_part{
	overflow: hidden;
	position: relative; 
	text-align: center;
}
.back_img2{
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px;
	background-image: url('picture/background2.jpg'); 
	opacity: 0.3;
}
.blablabla{
	position: relative; 
}
.iphone{
	position: absolute;
	bottom: -11%;
	left: 57%;
}
.ipad{
}

@media (max-width: 1247px) {

    .head_name {
        font-size: 52px;
    }
    .wellcome-text {
        font-size: 120px;
    }
}

@media (max-width: 640px) {
    
    .head_name {
        font-size: 32px;
    }

    .wellcome-text {
        font-size: 50px;
    }

    .nav-toggle{
    	display: block;
    }

    .links{
    	display: none;
    }

    .piece{
    	width: 100%;
    }

    .card{
    	width: 100%;
    }

    .chairs_item{
    	width: 100%;
    }

    .iphone{
    	width: 50%;
	}
	
	.ipad{
		width: 100%;
	}
}